*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #000000;
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
}

@media screen and (max-width: 991px) {
  :root {
    font-size: 15px;
  }
}
@media screen and (max-width: 768px) {
  :root {
    font-size: 14px;
  }
}
@media screen and (max-width: 460px) {
  :root {
    font-size: 13px;
  }
}
